---
- name: include variable overrides
  include_vars: "{{ item }}"
  with_first_found:
    - "vars/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "vars/{{ ansible_distrubition }}.yml"
    - "vars/{{ ansible_os_family }}.yml"
  tags:
    - vim

- name: install dnf
  package:
    name: "{{ item }}"
    state: "{{ vim_packages_state }}"
  become: yes
  with_items:
    - epel-release
    - dnf
    - dnf-plugins-core
  when: ansible_os_family == 'RedHat'
  tags:
    - vim

- name: install dnf repository
  command: "dnf config-manager --add-repo {{ repo }}"
  args:
    creates: "/etc/yum.repos.d/{{ repo | basename }}"
    warn: no
  vars:
    repo: "{{ vim_dnf_repo }}"
  when: ansible_os_family == 'RedHat'

- name: install packages
  package:
    name: "{{ item }}"
    state: "{{ vim_packages_state }}"
  become: yes
  with_items: "{{ vim_packages }}"
  tags:
    - vim

- name: create plugin directory
  file:
    path: "{{ vim_plugins_path }}"
    state: directory
    recurse: yes
  become: yes
  tags:
    - vim

- name: build configuration
  template:
    src: "{{ vim_conf_template }}"
    dest: "{{ vim_conf_path }}"
  become: yes
  tags:
    - vim

- name: install neobundle
  git:
    repo: "{{ vim_pluginmanager_repo }}"
    dest: "{{ vim_plugins_path }}/neobundle.vim"
    version: "{{ vim_neobundle_version }}"
  become: yes
  tags:
    - vim
