---
- name: include variable overrides
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "vars/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
        - "vars/{{ ansible_distrubition }}.yml"
        - "vars/{{ ansible_os_family }}.yml"
      skip: true

- name: install packages
  package:
    name: "{{ item }}"
    state: "{{ vim_packages_state }}"
  with_items: "{{ vim_packages }}"

- name: create plugin directory
  file:
    path: "{{ vim_plugins_path }}"
    state: directory
    recurse: yes

- name: build configuration
  template:
    src: "{{ vim_conf_template }}"
    dest: "{{ vim_conf_path }}"

- name: install neobundle
  git:
    repo: "{{ vim_pluginmanager_repo }}"
    dest: "{{ vim_plugins_path }}/neobundle.vim"
    version: "{{ vim_neobundle_version }}"
